{% extends 'pages/layout.html' %}

{% block content %}
<h1>details</h1>

<div class="container">
    <div class="mt-5">
        <div
        class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                    {{ event_by_id.name }}
                </h4>
                <div class="text-secondary-d1 text-120">
                    <span class="ml-n15 align-text-bottom">{{ event_by_id.description }}</span>
                </div>
            </div>
            <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                <li>
                    <span>
                        <span class="text-110">Stars On: {{ event_by_id.starts_at }}</span>
                    </span>
                </li>
                
                <li class="mt-25">
                    <span class="text-110">
                        Ends On: {{ event_by_id.ends_at }}
                    </span>
                </li>
                
                <li class="mt-25">
                    <span class="text-110">
                        Created on: {{ event_by_id.created_at }}
                    </span>
                </li>
            </ul>
            <div class="col-12 col-md-4 text-center">
                <a href="{% url 'calendar:update' event_by_id.id %}" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">Update</a>
            </div>
        </div>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}